.home-background {
    background: linear-gradient(to right, #1f4037, #99f2c8);
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-hover {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 1rem;
}

    .card-hover:hover {
        transform: translateY(-8px) scale(1.03);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    }

footer {
    font-size: 0.9rem;
}
